body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
    padding: 10px;
}
.half_width{
    width: 50%;
    padding-left: 7%;
}
.half_width img{
    width: 70%;
}
.top{
    display: flex;
}
.orrange{
    color: orange;
}
#left_border{
    border-left: 5px solid tomato;
    border-radius: 10px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 7px;
    
}
.center-align{
   text-align: center;
}
.mission-vision-goal{
    width: 25%;
    margin-left: 5%;
    border-radius: 15px;
    padding: 15px;
}
.mission-vision-goal img{
    height: 150px;
    width: 120px;
}
.mission2023{
    display: flex;
}
#mission{
    background-color: rgba(41, 41, 194, 0.103);
}
#vision{
    background-color: rgba(0, 0, 0, 0.103);
}
#goals{
    background-color: rgba(137, 43, 226, 0.151);
}