body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
    padding: 10px;
}
.half_width{
    width: 50%;
    padding-left: 10%;
}
.half_width img{
    width: 70%;
}
.top{
    display: flex;
}
.orrange{
    color: orange;
}
#left_border{
    border-left: 5px solid tomato;
    border-radius: 10px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 7px;
    
}
.center-align{
   text-align: center;
}
.mission-vision-goal{
    width: 25%;
    
    border-radius: 15px;
    padding: 15px;
}
.mission-vision-goal img{
    height: 150px;
    width: 120px;
}
.mission2023{
    display: flex;
}
#mission{
    background-color: rgba(41, 41, 194, 0.103);
    margin-left: 10%;
}
#vision{
    background-color: rgba(0, 0, 0, 0.103);
    margin-left: 2.5%;
}
#goals{
    background-color: rgba(137, 43, 226, 0.151);
    margin-left: 2.5%;
}
.develop{
    display: flex;
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 7%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 270px 270px;
    
}
.develop img{
    height: 300px;
    width: 400px;
    padding-top: 5%;
    
}
#limits{
    padding-left: 10%;
}
.global-community{
    display: flex;
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 7%;
}
.global-community img{
    height: 300px;
    width: 400px;
    padding-top: 5%;
    padding-left: 5%;
}
#community{
    padding-right: 5%;    
}
.half_width2{
    width: 50%;}
#corona-application{
    display: flex;
}
#corona-application img{
    width: 50%;
    margin-left: 10%;
    padding-left: 10%;
}
#corona{
    padding-top: 5%;
}